<form>
    <div class="mb-3">
        <label for="quote" class="form-label">Quote</label>
        <input type="quote" class="form-control" id="" >
        
      </div>
      <div class="mb-3">
        <label for="author" class="form-label">Author</label>
        <input type="author" class="form-control" id="" >
        
      </div>
     <div class="mb-3">
        <label for="user" class="form-label">Posted by</label>
        <input type="user" class="form-control" id="" >
        
      </div>
    <button type="submit" class="btn btn-primary">Add</button>
  </form>
