<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Neucha&display=swap" rel="stylesheet">
  <title>{{title}}</title>
</head>

<body>

  <div class="container" style="font-family: 'Neucha', cursive;">
    <h1>{{title}}</h1>
    <div class="row">
      
      <div class="col-md-9 ">
        <h2>Our Top Picks</h2>
        <div *ngFor='let iquote of iquotes; let mIndex =index' class="card shadow p-3 mb-5 bg-body rounded" style="width:80%; margin:auto;">

          <div class="card-body">
            <div class="">
              <h5 style="color:goldenrod">Author: {{iquote.author}}</h5>
            </div>
            <hr>
            <div id={{mIndex}} class="header">
              <h5 *ngIf='iquote.upvotes !== findMax() || iquote.upvotes === 0'>"{{ iquote.quote }}"</h5>
              <div *ngIf='iquote.upvotes === findMax() && iquote.upvotes > 0'>
                <h5 appHighlight><span>&ldquo;</span> {{ iquote.quote }} <span>&rdquo;</span></h5>
              </div>
            </div>
            <p><strong> ~ {{iquote.date|date:'short'}}</strong></p>
            <a style="color:teal; text-decoration:underline;" (click)='toggleDetails(mIndex)'>See more/less</a>
          </div>
          <hr>
          <!-- <p><strong>{{iquote.user}}</strong></p> -->


          <app-quote-details [mquote]='iquote' (isDeleted)='deleteQuote($event,mIndex)'></app-quote-details>
        </div>

      </div>
      <div class="col-md-3" >
        <app-iqoutes-form (addQuote)="newQuote($event)"></app-iqoutes-form>
      </div>
    </div>
  </div>
  

</body>

</html>
