<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}}</title>
</head>

<body>

  <div class="container">
    <h1>{{title}}</h1>
    <app-iqoutes-form (addQuote)="newQuote($event)"></app-iqoutes-form>
    <div *ngFor='let iquote of iquotes; let mIndex =index' class="card p-3 mb-3" style="width:80%; margin:auto;">     
      <div class="card-body">
        <div class=""><h5>Author: {{iquote.author}}</h5></div>
        <hr>
        <p>"{{iquote.quote}}"</p>
        <p><strong> Posted on {{iquote.date|date:'short'}}</strong></p>
       <a style="color:blue; text-decoration:underline;" (click)='toggleDetails(mIndex)'>See more</a>
      </div>

      <!-- <p><strong>{{iquote.user}}</strong></p> -->
      

      <app-quote-details [mquote]='iquote' (isDeleted)='deleteQuote($event,mIndex)'></app-quote-details>
    </div>

  </div>

</body>

</html>
